$sidebar-width: 15vw;

@media (min-width: 50rem) {
  .side-bar {
    width: $sidebar-width;
    min-width: $sidebar-width;
  }

  .main {
    margin-left: $sidebar-width;
    margin-right: $sidebar-width;
  }

  .main-content-wrap {
    max-width: 80%;
    margin: 0 auto;
  }
}

header.site-header {
  padding-top: 20px;
}
